<header class="header">
  <div class="header__top">
    <div class="wrapper">
      <div class="header__top__items">
        <a href="/" class="header__top__items__logo">
          <svg>
            <use xlink:href="img/sprite/sprite.svg#logo"></use>
          </svg>
        </a>
        <div class="header__bottom__items__contacts">
          <a href="tel:+7 (495) 787-27-47" class="header__bottom__items__contacts__phone">+7 (495) 787-27-47</a>
          <a href="mailto:info@lisna.ru" class="header__bottom__items__contacts__email">info@lisna.ru</a>
        </div>
        <form action="" class="header__top__items__search">
          <input type="search" id="search"
                 class="header__top__items__search__input"
                 placeholder="Поиск"
          >
          <label for="search" class="header__top__items__search__label">
            <svg>
              <use xlink:href="img/sprite/sprite.svg#search"></use>
            </svg>
          </label>
        </form>
        <ul class="header__top__items__nav">
          <li class="header__top__items__nav__item">
            <a href="#" class="header__top__items__nav__item__link">
              <svg>
                <use xlink:href="img/sprite/sprite.svg#user"></use>
              </svg>
            </a>
          </li>
          <li class="header__top__items__nav__item">
            <a href="#" class="header__top__items__nav__item__link">
              <svg>
                <use xlink:href="img/sprite/sprite.svg#favorite"></use>
              </svg>
            </a>
          </li>
          <li class="header__top__items__nav__item">
            <a href="#" class="header__top__items__nav__item__link">
              <svg>
                <use xlink:href="img/sprite/sprite.svg#basket"></use>
              </svg>
            </a>
          </li>
        </ul>
        <button class="btn-catalog">
          <svg>
            <use xlink:href="img/sprite/sprite.svg#burger"></use>
          </svg>
          <span>КАТАЛОГ</span>
        </button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="wrapper">
      <div class="header__bottom__items">
        <button class="btn-catalog">
          <svg>
            <use xlink:href="img/sprite/sprite.svg#burger"></use>
          </svg>
          <span>КАТАЛОГ</span>
        </button>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__list__item">
              <a href="#" class="nav__list__item__link nav__list__item__link--active">МАТРАСЫ</a>
            </li>
            <li class="nav__list__item">
              <a href="#" class="nav__list__item__link">КРОВАТИ</a>
            </li>
            <li class="nav__list__item">
              <a href="#" class="nav__list__item__link">АКСЕССУАРЫ</a>
            </li>
            <li class="nav__list__item">
              <a href="#" class="nav__list__item__link">РАСПРОДАЖА</a>
            </li>
            <li class="nav__list__item">
              <a href="#" class="nav__list__item__link">КОНТАКТЫ</a>
            </li>
            <li class="nav__list__item">
              <a href="#" class="nav__list__item__link">доставка и оплата</a>
            </li>
            <li class="nav__list__item">
              <a href="#" class="nav__list__item__link">партнерам</a>
            </li>
          </ul>
        </nav>
        <div class="header__bottom__items__contacts">
          <a href="tel:+7 (495) 787-27-47" class="header__bottom__items__contacts__phone">+7 (495) 787-27-47</a>
          <a href="mailto:info@lisna.ru" class="header__bottom__items__contacts__email">info@lisna.ru</a>
        </div>
        <form action="" class="header__top__items__search">
          <input type="search" id="search"
                 class="header__top__items__search__input"
                 placeholder="Поиск"
          >
          <label for="search" class="header__top__items__search__label">
            <svg>
              <use xlink:href="img/sprite/sprite.svg#search"></use>
            </svg>
          </label>
        </form>
      </div>
    </div>
  </div>
  <nav class="nav-catalog" aria-label="Каталог">
    <div class="wrapper">
      <div class="tabs">
        <ul class="nav-catalog__list tab">
          <li class="nav-catalog__list__item nav-catalog__list__title">
            каталог
          </li>
          <li class="nav-catalog__list__item tab__link active" data-tab="tab-1">
            <i class="nav-catalog__list__item__icon nav-catalog__list__item__icon-one"></i>
            <span>Матрасы</span>
            <ul class="nav-sub">
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Поллинг</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы на пружинном блоке Боннель</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Беспружинные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Круглые матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Мультипакет</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Индивидуальные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Детские матрасы</a>
              </li>
            </ul>
          </li>
          <li class="nav-catalog__list__item tab__link" data-tab="tab-2">
            <i class="nav-catalog__list__item__icon nav-catalog__list__item__icon-two"></i>
            <span>Кровати</span>
            <ul class="nav-sub">
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Поллинг</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы на пружинном блоке Боннель</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Беспружинные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Круглые матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Мультипакет</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Индивидуальные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Детские матрасы</a>
              </li>
            </ul>
          </li>
          <li class="nav-catalog__list__item tab__link" data-tab="tab-3">
            <i class="nav-catalog__list__item__icon nav-catalog__list__item__icon-tree"></i>
            <span>Аксессуары</span>
            <ul class="nav-sub">
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Поллинг</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы на пружинном блоке Боннель</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Беспружинные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Круглые матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Мультипакет</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Индивидуальные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Детские матрасы</a>
              </li>
            </ul>
          </li>
          <li class="nav-catalog__menu__item">
            <a href="#" class="nav-catalog__menu__item__link">Распродажа</a>
          </li>
          <li class="nav-catalog__menu__item">
            <a href="#" class="nav-catalog__menu__item__link">Контакты</a>
          </li>
          <li class="nav-catalog__menu__item">
            <a href="#" class="nav-catalog__menu__item__link">Доставка и оплата</a>
          </li>
          <li class="nav-catalog__contacts">
            <div class="header__bottom__items__contacts">
              <a href="tel:+7 (495) 787-27-47" class="header__bottom__items__contacts__phone">+7 (495) 787-27-47</a>
              <a href="mailto:info@lisna.ru" class="header__bottom__items__contacts__email">info@lisna.ru</a>
            </div>
          </li>
        </ul>
        <div class="tabs__content">
          <div id="tab-1" class="tabs__content__item active">
            <h3>матрасы</h3>
            <ul class="nav-sub">
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Поллинг</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы на пружинном блоке Боннель</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Беспружинные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Круглые матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Мультипакет</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Индивидуальные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Детские матрасы</a>
              </li>
            </ul>
          </div>
          <div id="tab-2" class="tabs__content__item">
            <h3>Кровати</h3>
            <ul class="nav-sub">
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Поллинг</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы на пружинном блоке Боннель</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Беспружинные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Круглые матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Мультипакет</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Индивидуальные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Детские матрасы</a>
              </li>
            </ul>
          </div>
          <div id="tab-3" class="tabs__content__item">
            <h3>Аксессуары</h3>
            <ul class="nav-sub">
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Поллинг</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы на пружинном блоке Боннель</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Беспружинные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Круглые матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Матрасы с независимым пружинным блоком Мультипакет</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Индивидуальные матрасы</a>
              </li>
              <li class="nav-sub__item">
                <a href="#" class="nav-sub__item__link">Детские матрасы</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="tabs__close">
          <svg>
            <use xlink:href="img/sprite/sprite.svg#close"></use>
          </svg>
        </div>
      </div>
    </div>
  </nav>
</header>

